.segment {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;

  &__prop {
    &-title {
      color: #a0b0b9;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
    &-value {
      font-size: 14px;
      line-height: 21px;
      font-weight: 600;
    }
  }
}
